<br />
<a class="waves-effect waves-light btn" routerLink="/vendedor/crear-informacionfinanciera"><i class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">

    <thead>
        <tr>
            <th>Ingresos</th>
            <th>Trabajo</th>
            <th>Tiempo Trabajo</th>
            <th>Nombre Ref Familiar</th>
            <th>Numero Ref Familiar</th>
            <th>Nombre Ref Personal</th>
            <th>Numero Ref Personal</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of listaRegitros | paginate: { itemsPerPage: 6, currentPage: pagina }">
            <th>
                {{r.total_ingresos}}
            </th>
            <th>
                {{r.datos_trabajo}}
            </th>
            <th>
                {{r.tiempo_trabajo_actual}}
            </th>
            <th>
                {{r.nombre_ref_familiar}}
            </th>
            <th>
                {{r.telefono_ref_familiar}}
            </th>
            <th>
                {{r.nombre_ref_personal}}
            </th>
            <th>
                {{r.telefono_ref_personal}}
            </th>
            <th>
                {{r.clienteId}}
            </th>
            <th>
                <a class="waves-effect waves-light btn" routerLink="/vendedor/editar-informacionfinanciera/{{r.id}}"><i class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <button class="btn waves-effect waves-light" type="button" name="action"
                    (click)="verificarEliminacion(r.id, r.clienteId)">Eliminar
                    <i class="material-icons right">delete</i>
                </button>
            </th>
        </tr>
    </tbody>
</table>

<pagination-controls  (pageChange)="CambioPagina($event)"
                      previousLabel="Anterior"
                      nextLabel="Siguiente">
</pagination-controls>