<div class="row">
    <form [formGroup]="fgValidador" (ngSubmit)="crearRegistro()" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">edit</i>
                <input formControlName="nombre" id="nombre" type="text" class="validate">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">more</i>
                <input formControlName="codigo" id="codigo" type="text" class="validate">
                <label for="codigo">Código</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input formControlName="descripcion" id="descripcion" type="text" class="validate">
                <label for="nombre">Descripción</label>
            </div>

            <div class="input-field col s3" >
                <span class="btn btn-file">
                    <i class="material-icons left">cloud_upload</i>
                    Seleccionar Imagen Proyecto<input  (change)="CuandoSeleccioneImagen($event)" type="file" id="btnUpload" formControlName="imagen" >
                </span>
            </div>
            <div class="input-field col s3">
                <input type="button" (click)="subirImagen()" class="btn" value="Cargar Imagen" />
            </div>


        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">add_location</i>
                <select id="ciudades" formControlName="ciudad">
                    <option value="" disabled selected>Seleccionar ciudad</option>

                    <option value="{{c.id}}" *ngFor="let c of listaCiudades;">{{c.nombre}}</option>

                </select>
                <label>Ciudades</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit" [disabled]="!ObtenerFgvalidador.nombreImagen.errors && !ObtenerFgvalidador.ciudad && !ObtenerFgvalidador.descripcion && !ObtenerFgvalidador.nombre && !ObtenerFgvalidador.codigo">Crear
                    <i class="material-icons right">send</i>
                </button>
                &nbsp;
                <a class="waves-effect waves-light btn red" routerLink="/administrador/listar-proyecto"><i
                        class="material-icons left">cancel</i>Cancelar</a>
            </div>
        </div>
    </form>
</div>