<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"> Constructora UCaldas</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="isLoggedIn"><a routerLink="usuario/listar-usuario">Usuario</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-pais">País</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-ciudad">Ciudad</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-proyecto">Proyecto</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-bloque">Bloque</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-inmueble">Inmueble</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-cliente">Cliente</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-informacionfinanciera">Informacion Financiera</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-pago">Pago</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-solicitudestudio">Solicitud Estudio</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="isLoggedIn"><a routerLink="usuario/listar-usuario">Usuario</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-pais">País</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-ciudad">Ciudad</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-proyecto">Proyecto</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-bloque">Bloque</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="administrador/listar-inmueble">Inmueble</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-cliente">Cliente</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-informacionfinanciera">Informacion Financiera</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-pago">Pago</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="vendedor/listar-solicitudestudio">Solicitud Estudio</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
  <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>
</ul>