<br />
<a class="waves-effect waves-light btn" routerLink="/administrador/crear-inmueble"><i
        class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">

    <thead>
        <tr>
            <th>Codigo</th>
            <th>Identificador</th>
            <th>Valor</th>
            <th>Bloque</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of listaRegitros | paginate: { itemsPerPage: 6, currentPage: pagina }">
            <th>
                {{r.codigo}}
            </th>
            <th>
                {{r.identificador}}
            </th>
            <th>
                {{r.valor}}
            </th>
            <th>
                {{r.bloqueId}}
            </th>
            <th>
                <a class="waves-effect waves-light btn" routerLink="/administrador/editar-inmueble/{{r.id}}"><i
                        class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <button class="btn waves-effect waves-light" type="button" (click)="verificarEliminacion(r.id,r.identificador)"
                    name="action">Eliminar
                    <i class="material-icons right">delete</i>
                </button>
            </th>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="CambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>